@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');

#logo-header
{
    background-color: #7D8B85;
    padding: 2rem;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#logo-image{
    height: 20%;
}

.header-logo{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Volkhov', serif;
}

#main-nav{
    background-color: #FDFFFD;
}

#image-header{
    background-image: url("../images/grass-meadow-estate-7174.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    color: #fff;
    
}

#image-header h1{
    color: #F2F2F1;

}

#about{
    background-color: #F5F9F8;
}

nav{
    z-index: 999;
}

h3{
    color: #168351;
}

.col-display{
    flex-direction: column;
}

.gray-layer{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 5px;
    max-width: 100vw;
}

html {
    scroll-behavior: smooth;
}

.v-hr{
    width: 2px;
    background-color: #E5E7E6;
    height: 3rem;
    margin: 0 1rem 0 1rem;
}

.h-hr{
    width: 90%;
    background-color: #E5E7E6;
    height: 3px;
    margin: 2rem auto 2rem auto;
}

.h-hr-mini{
    width: 50%;
    background-color: red;
    height: 3px;
    margin: 2rem auto 2rem auto;
}

.c-icon{
    color: #BEC5C2;
    font-size: 1.5rem;
    margin: 0 .3rem 0 .3rem;
}

.c-text{
    color: #ffffff;
}

.next-btn{
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #A5D7A7;
    padding: 1rem;
    background-color: rgba(99, 129, 100, 0.5);
}

.next-btn:hover{
    color: #A5D7A7;
    text-decoration: none;
    background-color: rgba(99, 129, 100, 0.7);
    transition: .2s;
}

.full-image{
    width: 100%;
}

.flex-display
{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.box{
    border-bottom: 3px solid #A5D7A7;
    padding: 2rem 0 2rem 0;
}

#offer{
    overflow: hidden;
}

footer{
    background-color: #7D8B85;
    padding: 1.5rem 0 1.5rem 0;
    color: white;
    text-align: right;
}

.orange{
    color: #FFB1A3;
}