@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

.v-hr{
    width: 2px;
    background-color: #E5E7E6;
    height: 3rem;
    margin: 0 1rem 0 1rem;
}

.h-hr{
    width: 90%;
    background-color: #E5E7E6;
    height: 3px;
    margin: 2rem auto 2rem auto;
}

.h-hr-mini{
    width: 50%;
    background-color: red;
    height: 3px;
    margin: 2rem auto 2rem auto;
}

.c-icon{
    color: #BEC5C2;
    font-size: 1.5rem;
    margin: 0 .3rem 0 .3rem;
}

.c-text{
    color: #ffffff;
}

.next-btn{
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #A5D7A7;
    padding: 1rem;
    background-color: rgba(99, 129, 100, 0.5);
}

.next-btn:hover{
    color: #A5D7A7;
    text-decoration: none;
    background-color: rgba(99, 129, 100, 0.7);
    transition: .2s;
}

.full-image{
    width: 100%;
}

.flex-display
{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.box{
    border-bottom: 3px solid #A5D7A7;
    padding: 2rem 0 2rem 0;
}